<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/ayman-root/ayman-root-store/main/Jisr%20HR_9.3.21_AYMAN%20ROOT.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.ayman.root</string>
                <key>bundle-version</key>
                <string>9.3.21</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>AYMAN ROOT</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
